*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('1p.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 100vh;
    margin: 0;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #795238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 35px;
    transition: .3s;

}
.navbar a:hover,
.navbar a.active {
    color: white;
}

.Home {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 550px;
}

.home-content h2 {
    font-size: 40px;
    font-weight: 500;

}

.home-content h3 {
    font-size: 60px;
    font-weight: 600;

}

.home-content h1 {
    color: #CFB79F;
    font-size: 17px;
    font-weight: 300;
    margin: top;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 1px;
    line-height: 1.2;
}

.home-content p {
   font-size: 16px;
   margin: 20px 0 30px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:transparent;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: white;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #795238;
    z-index: -1;
    transition: .5s;

}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: #795238;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: var(--second-bg-color--);
    padding-bottom: 2rem;
}

.about{
    background-image: url('2p.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 90vh;
    margin: 0;
}

.heading {
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
    color: beige;

}

span {
    color: #795238;
}

.about-img {
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 70%;
    border-radius: 50%;
    border: 1rem solid #242323;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #242323;
    border-bottom: .2rem solid #242323;
    border-left: .2rem solid #aea7a3;
    border-right: .2rem solid #aea7a3;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.2rem;
    color: white;
}

.about-content p {
   font-size: 16px;
   margin: 20px 0 30px;
   color: #CFB79F;
}